@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Raleway:ital,wght@0,400;0,500;1,200&display=swap');

#s0 {
    grid-area: header;

    height: 8vh;
    min-height: 60px;
    background-color: rgb(255, 255, 255);
}

#s1 {
    grid-area:section1;
    
    background: rgb(7, 7, 7) url("../imagens/london.jpg") no-repeat center center/ cover scroll;
    height: 95vh;
}

#s2 {
    grid-area: section2; 
    
    display: flex;
    flex-flow: row wrap;   
    justify-content: center;
    
}

#s3 {
    grid-area: section3; 
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    height: 70vh;
    min-height: 600px;
}

#s4 {
    grid-area: section4;  
    
    display: flex;
    flex-flow: column nowrap;
    
    background-color: black;
    width: 79.39%;
    padding: 0px;
    margin: 20px 9.5vw;

}

#s5 {
    grid-area: section5;  

    margin-left: 27px;
}
