@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Raleway:ital,wght@0,400;0,500;1,200&display=swap');

@media screen and (max-width: 1366px) {
    #s3 {
        justify-content: space-evenly;
    }

    #s3-title, #s3-p {
        flex-basis: 96.2%;
    }

    article.s3-articles {
        margin: 0px;
    }
    
    #img-direita {
        margin-right: 18px;
    }

    #s4-article  {
        margin-right: 36px;
    }
}

@media screen and (max-width: 768px) {

    section {
        padding: 20px 0vw;
    }

    section#s1 nav {
        width: 70vw ;
    }

    section nav #lista-header li {
        font-size: 0.9em;
    }

    #form-header {
        justify-content: space-around;
    }

    #form-header input[type=text] {
        width: 47.5%;
        padding: 10px;
        margin-right: 10px;
    }

    section#s2 {
        justify-content: center;
    }

    section#s2 h2, p {
        flex-basis: 95.2%;
        margin-bottom: 10px;
    }

    section#s2 ul#lista-body {
        justify-content: center;
        gap: 14px;
    }

    section#s2 img#imagem-solitaria {
        width: 47.2%;
        margin-left: 15px;
    }

    section#s2 ul#lista-body img {
        width: 44%;
        margin: 0px;
        box-shadow: 5px 5px 10px 5px #00000024;
    }

    #s3 {
        justify-content: center;
    }

    section#s3 #s3-title, section#s3 #s3-p {
        flex-basis: 95%;
    }

    section#s3 #img-esquerda {
        margin-right: 17px;
    }

    section#s3 #img-direita {
        margin-right: 0px;
    }

    section#s3 #img-esquerda, section#s3 #img-direita {
        width: 46.4%;
    }

    #s4 {
        width: 95.5%;
        padding: 0px;
        margin: 20px 15px;
    }

    #s4 article {
        padding: 0px;
        width: 100%;
    }

    #s5 {
        margin-left: 15px;
    }

    footer {
        height: 30vh;
        width: 97vw;
    }
}

@media screen and (max-width: 500px) {
    
    header {
        width: 96%;
        padding: 10px;
    }

    #s1 {
        background: none;
        height: 90%;
        padding: 0px;
    }

    section#s1 {
        align-items: start;
        justify-content: start;
    }

    section#s1 nav {
        width: 96vw;
        height: 100%;
        min-height: 350px;
    }

    #form-header form {
        display: flex;
        flex-flow: column wrap;
        padding: 4px 0px;
    }

    #form-header input[type=text] {
        width: 95%;
    }

    input#ifrom {
        margin-bottom: 10px;
    }

    #pfrom, #pto {
        display: none;
    }

    div#form-header form label {
        display: block;
        margin-bottom: 10px;
    }

    #form-header input[type=submit] {
        width: 50%;
    }

    #s2 {
        display: flex;
        flex-flow: row wrap;
    }

    section#s2 h2, p {
        flex-basis: 90%;
    }

    section#s2 img#imagem-solitaria {
        width: 90%;
        margin-left: 0px;
        margin-bottom: 14px;
    }

    section#s2 ul#lista-body {
        flex-flow: column wrap;
        align-items: center;

        width: 100%;
    }

    section#s2 ul#lista-body img {
        width: 90%;
    }

    #s3 {
        height: 100vh;
    }

    section#s3 #s3-title, section#s3 #s3-p {
        margin-bottom: 0px;
        flex-basis: 90%;
    }

    section#s3 #img-esquerda {
        margin: 0px;
    }

    section#s3 #img-esquerda, section#s3 #img-direita {
        flex-basis: 90%;
        height: 42%;
    }

    #s3-h3text1, #s3-h3text2, .s3-text {
        margin: 5px 10px;
    }

    #s3-buyp1, #s3-buyp2 {
        margin: 0px;
    }

    #s4 {
        width: 91.2%;
        padding: 0px;
        margin: 20px 22px
    }

    #s4-form input[type=submit] {
        width: 30%;
    }

    #s5 {
        margin-left: 23px
    }

    footer {
        width: 96vw;
        height: 20vh;
        justify-content: center;
    }
}
