@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Raleway:ital,wght@0,400;0,500;1,200&display=swap');

section {
    padding: 20px 10vw;
}

section#s1{
    display: flex;
    justify-content: center;
    align-items: center;
}

section#s1 nav {
    background-color: rgb(255, 255, 255);
    width: 65vw;
    height: 30vh;
    min-height: 270px;
}

section nav #lista-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    list-style-type: none;
}

section nav #lista-header li {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 15px;
    background-color: black;
    color: white;
    width: 100%;
}